* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    height: 100vh;
    background-color: #f7f7f7;
   
}
#bar {
    display: flex;
    justify-content: space-between; 
    background-color: #333; 
   
}
.logo-div img {
    height: 100px; 
    width: 100px;
}
.navbar{
    padding: 40px;
}
.navbar a {
    margin-left: 20px; 
    padding: 20px;
    text-decoration: none; 
    color: white; 
}

.navbar a:hover {
    color:  #e69c00 ;
}
.container {
    display: flex;
    gap: 20px;
    max-width: 1500px;
    padding: 20px;
    margin-top: 40px;
    margin-left: 80px;
}

.form-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

h2 {
    font-family: 'Dancing Script', cursive;
    font-size: 35px;
    color: #333;
    margin-bottom: 15px;
}

form input,
form select {
    width: 100%;
    padding: 15px;
    font-size: 24px;
    border: 1px solid #ccc;
    border-radius: 7px;
    margin-bottom: 13px;
}

form input[type="date"] {
    padding-right: 44px;
}

button {
    width: 100%;
    padding: 15px;
    font-size: 27px;
    color: white;
    background-color: #ffcc33;
    border: none;
    border-radius: 34px;
    cursor: pointer;
}

button:hover {
    background-color: #ffbb00;
}

.map-container {
    flex: 1;
    position: relative;
}

.map-placeholder {
    background-color: #d4d4d4;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    border-radius: 12px;
    padding: 30px;
    border: 1px solid #ccc;
}

.map-placeholder p {
    margin-bottom: 12px;
}

.map-placeholder button {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 22px;
}
