* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    height: 100vh;
    background-color: #f7f7f7;
   
}
#bar {
    display: flex;
    justify-content: space-between; 
    background-color: #333; 
   
}
.logo-div img {
    height: 100px; 
    width: 100px;
}
.navbar{
    padding: 40px;
}
.navbar a {
    margin-left: 20px; 
    padding: 20px;
    text-decoration: none; 
    color: white; 
}

.navbar a:hover {
    color:  #e69c00 ;
}
   


table {
    margin-top: 10px;
    width: 100%;
    border-collapse: collapse; 
}


tr {
    background-color: #f2f2f2; 
}


td {
    padding: 10px; 
    border: 1px solid #ddd; 
}


tr:hover {
    background-color: #e0e0e0;
}


th {
    background-color: #e69c00;
    color: white; 
    padding: 10px; 
    text-align: left; 
}



button {
    background: none; 
    border: none; 
    cursor: pointer; 
}

button i {
    color: #e69c00; 
    font-size: 20px; 
    transition: transform 0.2s; 
}

button:hover i {
    transform: scale(1.2); 
}



#orderUsername {
   width: 150px;
}
#orderPhone {
    width: 100px;
}
#orderLocation {
    width: 200px;
}
#orderContent {
    width: 300px;
}
#orderComments {
    width: 200px;
}
#orderDate {
    width: 100px;
}
#orderAction {
    width: 50px;
}