* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  body,
  input,
  button {
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
  }
  
  body {
    color: hsl(0, 0%, 100%);
  }
  
  input,
  button {
    border: none;
    outline: none;
  }
  
  a {
    text-decoration: none;
  }
  
  .signup {
    position: relative;
    height: 100vh;
    display: grid;
    align-items: center;
    justify-content: center;
  }
  
  .signup__img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  
  }
  
  .container {
    position: relative;
    background-color: hsla(0, 0%, 10%, 0.1);
    border: 2px solid white;
    margin-inline: 1.5rem;
    padding: 2.5rem 1.5rem;
    border-radius: 1rem;
    backdrop-filter: blur(10px);
    width: 400px;
  }
  
  .signup__title {
    text-align: center;
    font-size: 1.75rem;
    font-weight: 500;
    margin-bottom: 2rem;
  }
  
  .signup__content,
  .signup__box {
    display: grid;
  }
  
  .signup__content {
    row-gap: 1.75rem;
    margin-bottom: 1.5rem;
  }
  
  .signup__box {
    grid-template-columns: max-content 1fr;
    align-items: center;
    column-gap: 0.75rem;
    border-bottom: 2px solid hsl(0, 0%, 100%);
  }
  
  .signup__icon,
  .signup__eye {
    font-size: 1.25rem;
  }
  
  .signup__input {
    width: 100%;
    padding-block: 0.8rem;
    background: none;
    color: hsl(0, 0%, 100%);
    position: relative;
    z-index: 1;
  }
  
  .signup__box-input {
    position: relative;
  }
  
  .signup__label {
    position: absolute;
    left: 0;
    top: 13px;
    font-weight: 500;
    transition: top 0.3s, font-size 0.3s;
  }
  
  .signup__eye {
    position: absolute;
    right: 0;
    top: 18px;
    z-index: 10;
    cursor: pointer;
  }
  
  .signup__box:nth-child(2) input {
    padding-right: 1.8rem;
  }
  
  .signup__register {
    font-size: 0.813rem;
  }
  
  .signup__check-group {
    column-gap: 0.5rem;
  }
  
  .signup__button {
    width: 100%;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: hsl(0, 0%, 100%);
    font-weight: 500;
    cursor: pointer;
    margin-bottom: 2rem;
  }
  
  .signup__input:focus + .signup__label {
    top: -12px;
    font-size: 0.813rem;
  }
  
  /* Input focus sticky top label */
  .signup__input:not(:placeholder-shown).signup__input:not(:focus) + .signup__label {
    top: -12px;
    font-size: 0.813rem;
  }
  .signup__register {
    text-align: center;
  }
  
  .signup__register a {
    color: hsl(0, 0%, 100%);
    font-weight: 500;
  }
  
  .signup__register a:hover {
    color: #ffbe33;
  }
  