* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    height: 100vh;
    background-color: #f7f7f7;
   
}
#bar {
    display: flex;
    justify-content: space-between; 
    background-color: #333; 
   
}
.logo-div img {
    height: 100px; 
    width: 100px;
}
.navbar{
    padding: 40px;
}
.navbar a {
    margin-left: 20px; 
    padding: 20px;
    text-decoration: none; 
    color: white; 
}

.navbar a:hover {
    color:  #e69c00 ;
}
   

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color:#e69c00;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

button {
    background: none; 
    border: none; 
    cursor: pointer; 
}

button i {
    color: #e69c00; 
    font-size: 20px; 
    transition: transform 0.2s; 
}

button:hover i {
    transform: scale(1.2); 
}