* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    height: 100vh;
    background-color: #f7f7f7;
   
}
#bar {
    display: flex;
    justify-content: space-between; 
    background-color: #333; 
   
}
.logo-div img {
    height: 100px; 
    width: 100px;
}
.navbar{
    padding: 40px;
}
.navbar a {
    margin-left: 20px; 
    padding: 20px;
    text-decoration: none; 
    color: white; 
}

.navbar a:hover {
    color:  #e69c00 ;
}
   


/* Style for the table */
table {
    width: 100%;
    border-collapse: collapse; /* Ensures borders are collapsed */
}

/* Style for table rows */
tr {
    background-color: #f2f2f2; /* Light gray background for rows */
}

/* Style for table cells */
td {
    padding: 10px; /* Adds padding inside cells */
    border: 1px solid #ddd; /* Light gray border around cells */
}

/* Style for table rows on hover */
tr:hover {
    background-color: #e0e0e0; /* Darker gray on hover */
}

/* Style for the header row */
th {
    background-color: #4CAF50; /* Green background for header */
    color: white; /* White text for header */
    padding: 10px; /* Padding for header cells */
    text-align: left; /* Align text to the left */
}